.main--root {
    margin-top: 20px;
    width: 100%;
}

.main--root .paper--root {
    margin-top: 10px;
}

.main--root .tabela--botao {
    margin-top: 10px;
    background-color: #578fff;
}

.table--head { 
    background-color: #578FFF;
}

.table--row th {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}

.table--row td {
    text-transform: capitalize;
}

.table--row:nth-child(even) {
    background-color: rgb(228, 228, 228);
}